/* GLOBAL */

.dots-none,
a {
  list-style-type     : none;
  text-decoration     : none;
  padding-inline-start: 0px;
}

* {
  box-sizing: border-box;
}

body {
  width : 1400px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display  : block;

}

section {
  margin: auto 110px auto 110px;
}

/* HEADER */

header {
  margin: 50px 110px 129px 110px;
}


.logo {
  width : 100px;
  height: 52px;

}

.box-header {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;
}

.item-header {
  flex: none;
}

.box-nav {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  margin-left    : 60px;
}

.item-nav {
  flex        : none;
  margin-right: 20px;
}

.box-src {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  margin-left    : auto;
}

.item-src {
  flex       : none;
  margin-left: 20px;
  align-self : center;
}

.search-loupe {
  width : 24px;
  height: 24px;
}
  

.logo:hover,
.item-nav:hover,
.item-src:hover {
  opacity: 0.53;
}

.logo:active,
.item-nav:active,
.item-src:active {
  opacity: 0.24;
}


header a:link {
  color: #1E0606;
}

header a:visited {
  color: #1E0606;
}

header a:hover {
  color: #1E0606;
}

header a:active {
  color: #1E0606;
}



 /* — : — :hover — :active. */







/* FOOTER */

footer {
  background-color: #434343;
  width           : 1400px;
  
}

.box-footer {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  flex-wrap      : wrap;
  gap: 0 20px;
}

.item-footer {
  flex  : none;
  margin: 0;
  width : 380px;
}

hr {
  border-color: #5D5D5D;
  color       : #666666;
}

hr .hr-short {
  margin-block-start: 0px;
  margin-block-end  : 0px;
}

.box-social {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  gap            : 0 10px;
}

.item-social {
  flex  : none;
  margin: 25px 0px;
}

.button-email {

}

hr .hr-long {
  margin-block-start: 0px;
  margin-block-end  : 0px;
}

.box-rating {
  display    : flex;
  gap        : 0 2.88px;
  align-items: baseline;
}


.item-raiting-star {
  width : 17.3px;
  height: 16.28px;
}

.item-raiting-text {
  margin-right: 22.12px;
}






/*  */
footer .button:any-link {
  color         : #FFFFFF;
  text-transform: capitalize;
}

footer .button:hover {
  opacity: 0.53;
}

footer .button:active {
  opacity: 0.24;
}








.box-links-rows {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;

}

.item-links {
  margin   : 15px auto 15px 0px;
  max-width: 380px;
}

p {
  margin-block-start: auto;
  margin-block-end: auto;
}


.button-black {
  background-color: black;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 22px 9px 22px;
  color: white;
}

