/* GLOBAL */
.hidden {
  display: none;
}

.dots-none,
a {
  list-style-type     : none;
  text-decoration     : none;
  padding-inline-start: 0px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin   : auto;


}

img {
  display  : block;
  max-width: 100%;
  height   : auto;

}

p {
  margin-block-start: 0;
  margin-block-end  : 0;
}


/* HEADER */

header {
  margin: 50px 110px 129px 110px;
}


.logo {
  width : 100px;
  height: 52px;
}

.box-header {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;
}

.item-header {
  flex: none;
}

.box-nav {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  margin-left    : 60px;
}

.item-nav {
  flex        : none;
  margin-right: 20px;
}

.box-src {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  margin-left    : auto;
}

.item-src {
  flex       : none;
  margin-left: 20px;
  align-self : center;
}

.search-loupe {
  width : 24px;
  height: 24px;
}


.logo:hover,
.item-nav:hover,
.item-src:hover {
  opacity: 0.53;
}

.logo:active,
.item-nav:active,
.item-src:active {
  opacity: 0.24;
}


header a:link {
  color: #1E0606;
}

header a:visited {
  color: #1E0606;
}

header a:hover {
  color: #1E0606;
}

header a:active {
  color: #1E0606;
}






/* FOOTER */

footer {
  background-color: #434343;
  width           : 1400px;
  position        : relative;
  top             : 60px;
  max-height      : 555px;
  padding         : 100px 110px 100px 110px;

}

.box-footer {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  flex-wrap      : wrap;
  gap            : 0 20px;
  max-width      : 1180px;
}




.item-footer {
  flex  : none;
  margin: 0;
  width : 380px;
}

hr {
  margin-block-start: 0px;
  margin-block-end  : 0px;

  width : 100%;
  height: 1px;

  background-color: #666666;
  border-color    : #5D5D5D;
  border          : 1px;
}

.hr-short {
  margin-top   : 23px;
  margin-bottom: 25px;
}


.hr-long {
  margin-top   : 25px;
  margin-bottom: 23px;
}


.box-social {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  gap            : 0 10px;
}

.item-social {
  flex  : none;
  margin: 25px 0px;
}


.item-footer input {
  height          : 40px;
  width           : 300px;
  background-color: #666666;
  border          : none;
}

.item-footer input::placeholder {
  color : #EBEBEB;
  border: none;

  border-color: #1E0606;

}

.button-email {}



.box-rating {
  display    : flex;
  gap        : 0 2.88px;
  align-items: baseline;
}


.item-raiting-star {
  max-width : 17.12px;
  max-height: 16.28px;
}

.item-raiting-text {
  margin-right: 22.12px;
}



footer article {
  font-family      : Open Sans;
  font-size        : 16px;
  font-style       : normal;
  font-weight      : 400;
  line-height      : 22px;
  letter-spacing   : 0em;
  text-align       : left;
  color            : #AAAAAA;
  /* margin-bottom : 15px; */
}







/*  */
footer .button:any-link {
  color         : #FFFFFF;
  text-transform: capitalize;
}

footer .button:hover {
  opacity: 0.53;
}

footer .button:active {
  opacity: 0.24;
}

.developer-link:hover {
  text-decoration: underline;
  color          : #FFFFFF;

}







.box-links-rows {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;

}

.item-links {
  margin   : 15px auto 15px 0px;
  max-width: 380px;
}




.button-black {
  background-color: black;
  display         : flex;
  align-items     : center;
  justify-content : center;
  padding         : 9px 22px 9px 22px;
  color           : white;
  text-transform  : uppercase;
  border          : none;

  font-family   : Open Sans;
  font-size     : 16px;
  font-style    : normal;
  font-weight   : 700;
  line-height   : 22px;
  letter-spacing: 0em;
  text-align    : center;

}

.button-black:hover {
  background-color: #C29974;
}

.button-black:active {
  background-color: #CFAF91;
}










.box-email form {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  flex-wrap     : nowrap;
  


}

.item-email {
  font-family   : Open Sans;
  font-size     : 16px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 22px;
  letter-spacing: 0em;
  text-align    : left;
  color         : #EBEBEB;
  padding       : 9px 15px 9px 15px;
  outline:none;
  
}



.item-email:focus {
  border: 1px solid rgba(255, 253, 253, 1);
}

footer input {
  text-indent: 10px;
}

footer section ul li {
  margin-block-start: 15px;
}



/* Modal contact popup */

.modal-popup {
  display: none;

  position  : fixed;
  top       : 0;
  left      : 0;
  right     : 0;
  bottom    : 0;
  background: rgba(125, 151, 218, 0.8);
  z-index   : 100;


}



.popup-form {
  padding         : 42px 40px 42px 40px;
  max-width       : 680px;
  background-color: #E5EAF8;

  position: relative;
  margin  : 0 auto;
  top     : 25%;




}

.modal-popup.popup-open {
  display: block;

}



.close {
  background: transparent;
  position  : absolute;
  border    : none;
  top       : 0px;
  right     : -25px;
  cursor    : pointer;
}












.popup-box {
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  gap            : 20px 20px;
  justify-content: space-between;

}



.popup-item {
  width    : 100%;
  max-width: 600px;
  border   : none;
  margin   : 0 0 0 0;
  padding  : 0 0 0 0;
  gap      : 20px 20px;
}

.popup-item:nth-child(2),
.popup-item:nth-child(3) {
  width: 290px;
}





.modal-popup label {
  display         : block;
  font-family     : Roboto;
  font-size       : 14px;
  font-style      : normal;
  font-weight     : 400;
  line-height     : 16px;
  letter-spacing  : 0px;
  text-align      : left;
  margin-block-end: 6px;
}





.consent {
  display    : flex;
  align-items: center;
  gap        : 15px;
}

.consent-checkbox {
  max-height: 19px;
  max-width : 19px;
}

.consent label {
  margin-block-end: 0px;
}







.modal-popup input {
  width : 100%;
  height: 50px;

  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  padding     : 14px 20px 12px 20px;

  font-family   : Open Sans;
  font-size     : 18px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 25px;
  letter-spacing: 0px;
  text-align    : left;
  outline:none;
}

.modal-popup input:focus {
  border-color: rgba(0, 0, 0, 0.3);
}

.modal-popup textarea {
  width       : 100%;
  min-height  : 150px;
  resize      : none;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  padding     : 14px 20px 12px 20px;

  font-family   : Open Sans;
  font-size     : 18px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 25px;
  letter-spacing: 0px;
  text-align    : left;
  outline:none;
}

.modal-popup textarea:focus {
  border-color: rgba(0, 0, 0, 0.3);
}