/* FONTS */

.opensans-400-14 {
  text-decoration: none;
  font-family    : Open Sans;
  font-style     : normal;
  font-weight    : normal;
  font-size      : 14px;
  line-height    : 19px;
  align-items    : left;
  text-transform : uppercase;
  color          : #1e0606;

}
.opensans-400-16{
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E0606;

}


.opensans400-700-12 {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}


.opensans-700-14-bold {
  font-family   : Open Sans;
  font-size     : 14px;
  font-style    : bold;
  font-weight   : 700;
  line-height   : 19.07px;
  letter-spacing: 0em;
  text-align    : left;
  text-transform: uppercase;
  color         : #1e0606;

}




.opensans-700-16-normal {
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  
}












.opensans-400-16-white {
  font-family   : Open Sans;
  font-size     : 16px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 22px;
  letter-spacing: 0em;
  text-align    : left;
  color         : #FFFFFF;
}

.opensans-700-16-white {
  font-family   : Open Sans;
  font-size     : 16px;
  font-style    : normal;
  font-weight   : 700;
  line-height   : 22px;
  letter-spacing: 0em;
  text-align    : left;
  background    : #FFFFFF;
}


.crimson-400-26-italic {
  font-family   : Crimson Text;
  font-size     : 26px;
  font-style    : italic;
  font-weight   : 400;
  line-height   : 32px;
  letter-spacing: 0em;
  text-align    : left;
}

.crimson-400-20-italic {
  font-family: Crimson Text;
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}








h1 {
  font-family   : Montserrat;
  font-style    : normal;
  font-weight   : bold;
  font-size     : 40px;
  line-height   : 49px;
  text-transform: uppercase;
  color         : #1e0606;
  margin        : 0px;
}

h2 {
  font-family   : Montserrat;
  font-style    : normal;
  font-weight   : bold;
  font-size     : 38px;
  line-height   : 46px;
  text-transform: uppercase;
  color         : #1e0606;
  margin        : 0px;
}

.montserrat-700-38-black {
font-family: Montserrat;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 46px;
letter-spacing: 0em;

text-transform: uppercase;
color         : #1e0606;

}



.montserrat-700-26-white {
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.montserrat-700-38-black {
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
}


.contats-title {
  position: relative;
  top: 100px;
}
