/* SECTION BANNER */

.banner {}

.box-banner {
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: space-between;
  gap            : 0px 0px;


  background-color: #EEE4DB;
  margin          : 109px 110px 90px 110px;
  width           : 1180px;
  height          : 411px;
}


.box-banner-counter {
  display       : flex;
  flex-direction: column;
  margin-top       : 17px ;
  margin-left: 28px;
  align-items   : flex-start;
  gap: 10px;



}

.item-banner-counter {
  flex: none;
  
  margin: 0 0;
  

}

/* 01 */
.banner-number {
  
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 73px;
color: #1E06060D;

width: 61px;
height: 74px;


}







.box-collection-name {
  display       : flex;
  flex-direction: column;
  margin        : 89px 5px 89px 22px;
  align-items   : baseline;
  width         : 307px;
  height        : auto;
}

.box-image {
  display       : flex;
  flex-direction: row;
  position      : relative;
  margin        : -90px 99.51px 0 0;
  z-index       : 0;
  max-width         : 635.49px;
  max-height        : 461px;


}

.box-banner-button {
  display: flex;
  justify-content: center;
  width           : 1180px;
  height          : 39px;
  
  background-color: #C29974;
  position        : absolute;
  margin-top      : 371px;

  
}




/* SECTION CATEGORY */

.category {
  margin: 90px 110px 90px 110px;



}

.box-category {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 20px;
}

.item-category {
  display: flex;
  background-color: #DBE4DB;
  z-index: 2;
  height: 270px;
  width: 280px;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;   
}

.item-category:nth-child(2) {
  background-color: #EADDD3;
}

.item-category:nth-child(3) {
  background-color: #F8F2DA;
}

.item-category:nth-child(4) {
  background-color: #D5D4E1;
}

.text-category {
  position: absolute;           
  max-width: 200px;
  justify-content: center;  
  z-index: 3;
}

.text-category:hover {
  text-decoration: underline;
}






/* SECTION CATEGORY/SELECTOR */

.box-selector {
  display       : flex;
  flex-direction: row;
  margin-top    : 30px;
  gap           : 6px;
  justify-content: flex-start;
  align-items: center;


}

.item-selector-button {
  
  
  background-color: #E2F1F8;
  display: flex;
  
  
  padding: 5px 12px 6px 12px;
  height: 37px;
  width: 37px;

}

.item-selector-note {
  
  margin-left: 16px;
  max-width: 580px;
 
}




/* SECTION SERVICE */

.service {
  margin: 90px 210px 90px 110px;
}

.button-serivce {
  margin-top: 26px;
  max-width: 180px;
}

.box-service {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  flex-wrap      : nowrap;
  
  position: relative;
  overflow: hidden;
  
  
}

.item-service-left {
  flex: none;
  margin: 0px 0px;
  width: 480px;
  max-height: 559px;
}

.item-service-right {
  flex   : none;
  margin : 0px 120px;
  
  width  : 540px;
  
}

.text-service {
  
  max-width: 480px;
}


/* SECTION PARTNERS */

.partners {
  margin: 90px 110px 90px 110px;
}

.button-partners {}

.box-partners {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;

  align-items: baseline;
}

.item-partners {
  flex  : none;
  margin: 0px 0px;
}



/* SECTION CONTACTS */

.box-contacts {
  margin: 90px 147px 60px 110px;

  display        : flex;
  flex-direction : row;
  flex-wrap      : nowrap;
  justify-content: space-between;
  gap            : 0 57px;
  position: relative;
  
}

.item-contacts {
  
  padding         : 31px 30px 35px 30px;
  background-color: #E0F0F7;
  display: flex;
  gap: 10px;
  flex-direction: column;
 

  
}

.button-contacts {
  margin-top: 10px;
  width     : 123px;
  
}

.item-contacts .montserrat-700-38-black {
  position: absolute;
  top: -21px;
}

.item-contacts .iframe-map {
  position: absolute;
  bottom: -82px;
}
.item-contacts:nth-child(2) {
  
}