
.main-banner {
   width: 454px;

/* Title two */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
/* identical to box height */

text-transform: uppercase;

/* Black */

color: #1E0606;
    
}
